.card {
  width: 282px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 0 0 10px 10px;
  margin: 0;
  padding: 30px 20px 30px;
}

.card__location {
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/heart-icon.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 50%;
}
